<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu">

        </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>CCCC </ion-card-title>
      </ion-card-header>
      <ion-list>
          <ion-item><strong>{{Place.name}}</strong></ion-item>
          <ion-item>{{Place.user}}</ion-item>
      </ion-list>
      <ion-card-content>
          <ion-img [src]="Place.photo"></ion-img>
      </ion-card-content>
    </ion-card>
</ion-content>
